---
// /src/pages/index.astro

import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import heroImage from '/src/assets/hero-image.webp';
import checkmark from '../assets/icons/check-market-regular.svg';

// Define metadata
const title = 'Unlock Your Body’s Fat-Burning Power Today';
const description =
	'Discover the secret to natural weight loss without diets or stress.';

const affiliate_link = 'https://mitolyn.com/welcome/?hop=erick505&hopId=2b37d610-8980-4df8-8ce4-b456ef11d9d2';
// 'https://44612b0hi9hwlw7cqlti872l06.hop.clickbank.net';
// 'https://mitolyn.com/welcome/?hop=erick505&hopId=2b37d610-8980-4df8-8ce4-b456ef11d9d2';
// 'https://mitolyn.com/science/?affiliate=erick505' -- links to video presentation
---

<Layout title={title}>
	<!-- Hero Section -->
	<section id="hero" class="pt-8 pb-4">
		<div
			class="container mx-auto px-4 flex flex-col lg:flex-row items-center"
		>
			<div class="w-full lg:w-1/2 p-4">
				<a href={affiliate_link}>
					<Image
						src={heroImage}
						alt="Product illustration"
						width={600}
						height={300}
						format="webp"
						quality={80}
						class="rounded-lg shadow-md w-full h-auto"
					/>
				</a>
			</div>
			<div class="w-full lg:w-1/2 p-4">
				<h1 class="title text-3xl md:text-4xl mb-4 text-primary">
					Naturally Boost Your Metabolism and Energy
				</h1>
				<h2 class="title text-xl md:text-xl mb-4 text-primary">
					Burn Fat While You Sleep – <span class="underline">
						Results Guaranteed!
					</span>
				</h2>
				<p class="text-lg mb-4">
					Naturally Reignite Your Energy and Melt Fat
				</p>
				<p class="text-base mb-4">
					Havard scientists developed the solution to fight
					<strong>weight gain linked to age</strong>. Few have
					uncovered the secret to supercharge the body from the ground
					up. The secret lies at the cellular level, where
					<strong>real energy</strong> begins.
				</p>
				<p class="text-base mb-8">
					Just imagine what it would feel like to <strong>
						wake up every morning feeling naturally energized
					</strong> and closer to your weight goals.<br /><br />You
					start to feel like yourself again. More alive and energized
					in your own skin.
				</p>
				<a
					href={affiliate_link}
					class="hover:cursor-pointer bg-primary text-xl text-white px-4 py-2 rounded hover:bg-opacity-90 transition duration-300"
				>
					Read More...
				</a>
			</div>
		</div>
	</section>

	<!-- Discovery Section -->
	<section id="discovery" class="py-4">
		<div
			class="container mx-auto px-4 flex flex-col justify-center items-center"
		>
			<a
				href={affiliate_link}
				class="text-xl sm:text-2xl md:text-3xl font-bold text-white text-center mb-8 bg-secondary px-10 py-6 rounded-[100px]"
			>
				CLICK HERE<br />TO LEARN HOW TO REVOLUTIONIZE YOUR HEALTH
			</a>
			<div class="text-xl">
				<p class="mb-8">
					Are you constantly feeling tired, struggling to lose weight,
					and watching your energy fade no matter how well you eat or
					how often you move?
				</p>
				<p class="mb-8">
					<span class="underline">
						Just imagine what it would be like to change all that
					</span>. It's not your fault - and we have the proof!
				</p>
				<p class="mb-8">
					For a lot of people, slow metabolism isn’t just about
					aging—it’s a signal your mitochondria (your cells’ energy
					engines) are no longer functioning efficiently.
				</p>
				<p class="mb-8">
					Mitolyn is a breakthrough blend of <strong>
						natural, science-backed nutrients
					</strong> specifically designed to:
				</p>
				<ul class="list-none p-0 mb-8 space-y-4">
					<li class="pl-[2em]">
						<span class="-ml-[2em] mr-[1em]">🔥</span>Supercharge
						your mitochondria to burn fat in your sleep
					</li>
					<li class="pl-[2em]">
						<span class="-ml-[2em] mr-[1em]">⚡</span>Boost daily
						energy—no crashes, no jitters
					</li>
					<li class="pl-[2em]">
						<span class="-ml-[2em] mr-[1em]">🧬</span>Support
						cellular repair and long-term metabolic health
					</li>
					<li class="pl-[2em]">
						<span class="-ml-[2em] mr-[1em]">🌟</span>Help you feel
						younger, lighter, and more vibrant
					</li>
				</ul>
				<p class="mb-8">
					Each capsule delivers targeted support to revive your body’s <strong
					>
						natural energy production and fat-burning power
					</strong>— especially if you’re over 30 and feeling the
					shift.
				</p>
				<p class="mb-8">
					Mitolyn is rooted in <strong>
						Harvard's cutting-edge research
					</strong> to fuel your body’s <strong>
						core energy centers
					</strong>.
					<p class="mb-8">
						You can finally say bye to belly fat, burnout, and brain
						fog.
					</p>
				</p>
				<ul class="list-none p-0 mb-8 space-y-4">
					<li class="pl-[2em]">
						<span class="-ml-[2em] mr-[1em]">✅</span>100% natural
						and stimulant-free
					</li>
					<li class="pl-[2em]">
						<span class="-ml-[2em] mr-[1em]">✅</span>Literally
						changes the way your cells burn energy
					</li>
					<li class="pl-[2em]">
						<span class="-ml-[2em] mr-[1em]">✅</span>Works even if
						you’re not working out every day
					</li>
					<li class="pl-[2em]">
						<span class="-ml-[2em] mr-[1em] no-underline">
							✅
						</span><span class="underline">
							Unlock the life you deserve
						</span>
					</li>
				</ul>

				<p class="mb-12">
					Because it’s not just about burning fat or boosting
					energy—it’s about living the kind of life where you have <strong
					>
						the energy to show up fully, every day.
					</strong>
				</p>
				<p class="mb-12 font-bold text-left">
					To find out more, please watch this important video on the
					next page!
				</p>
			</div>
		</div>
	</section>

	<!-- Why It Works Section -->
	<section id="why-it-works" class="py-4">
		<div class="container mx-auto px-4 text-center mb-8">
			<h2 class="title text-5xl md:text-6xl leading-16 mb-8">
				DISCOVER WHY THIS WORKS WHEN OTHERS DON'T
			</h2>
			<h3
				class="title text-3xl md:text-4xl mb-12 leading-10 md:leading-14"
			>
				The team who discovered this <span class="underline">
					life changing formula
				</span> has asked that you please follow these guidelines:
			</h3>

			<ul
				contenteditable="false"
				class="list-none mb-8 text-xl space-y-8 text-left p-0"
			>
				<!-- <li class="pl-[1em] sm:pl-[2em]"> -->
				<li
					class="relative pl-[2em] before:w-10 before:h-10 before:content-[''] before:absolute before:left-0 before:top-0 before:-translate-x-1/4
             before:bg-[url('../assets/icons/check-mark-regular.svg')] before:-translate-y-1/10"
				>
					<!-- <i
            contenteditable="false"
            class="fas fa-check text-green-500 text-3xl -ml-[1.5em] mr-[0.5em] sm:-ml-[2em] sm:mr-[1em] translate-y-1"
          ></i> -->
					This presentation can change your life. Please send it along
					to anyone who may benefit from it.
				</li>
				<li
					class="relative pl-[2em] before:w-10 before:h-10 before:content-[''] before:absolute before:left-0 before:top-0 before:-translate-x-1/4
          before:bg-[url('../assets/icons/check-mark-regular.svg')] before:-translate-y-1/10"
				>
					Watch to the very end to learn everything about their
					scientifically backed, all-natural formula. Also, do NOT
					abuse the information and advice they provide.
				</li>
				<li
					class="relative pl-[2em] before:w-10 before:h-10 before:content-[''] before:absolute before:left-0 before:top-0 before:-translate-x-1/4
             before:bg-[url('../assets/icons/check-mark-regular.svg')] before:-translate-y-1/10"
				>
					This presentation is ONLY being made available to a select
					number of individuals. The team behind this method is
					already facing pressure from the corporate bullies and rival
					“health experts” and may be taken down at any time. If you
					are not interested in this powerful, transformational
					method, PLEASE CLOSE THIS WINDOW NOW and free up your spot
					for the next visitor.
				</li>
			</ul>
			<a
				href={affiliate_link}
				class="text-3xl md:text-4xl font-bold font-oxygen text-center text-white mb-8 bg-secondary px-10 py-4 rounded-[100px] block"
			>
				TRANSFORM MY LIFE TODAY
			</a>
		</div>
	</section>

	<!-- Load External Script -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="../scripts/url-modifier.js"></script>
</Layout>
